---
layout: page
---

  <div id="archives">
  {%- assign langs = site.posts | map: "lang" | uniq -%}
  {%- for category in site.categories -%}
  {%- capture category_name %}{{ category | first }}{% endcapture -%}
  {%- unless langs contains category_name -%}
    <div class="archive-group">
      <div id="#{{ category_name | slugize }}"></div>
      <h2 class="category-head">{{ category_name }}</h2>
      <a name="{{ category_name | slugize }}"></a>
      {%- for post in site.categories[category_name] -%}
      {%- if post.lang == page.lang -%}
      <article class="archive-item">
        <a href="{{ site.baseurl }}{{ post.url }}">{% if post.title and post.title != "" %}{{ post.title }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</a>
      </article>
      {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endunless -%}
  {%- endfor -%}
  </div>

  {{ content }}
