<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% include meta.html %}

    {% seo title=false %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/telepost_icon-32x32.png">
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>

            <nav>
              <a href="{% link faq/index.html %}">FAQ</a>
              <a href="{% link _pages/categories.md %}">Категории</a>
              <a href="{% link _pages/tags.md %}">Теги</a>
              <a href="{% link _pages/search.md %}">🔍</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>

          <div class="counter">
            <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2FTelepost-me%2Ftelepost-me.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=telegram.svg&icon_color=%2301A6F9&title=visitors&edge_flat=false"/></a>
          </div>

          <div class="credits">Основано на теме <a href="https://github.com/amitmerchant1990/reverie">Reverie</a></div>
        </div>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
