{%- if site.data.languages[page.lang].default -%}
  {%- capture site_baseurl -%}{{ site.baseurl }}{%- endcapture -%}
{%- else -%}
  {%- capture site_baseurl -%}{{ site.baseurl }}/{{ page.lang }}{%- endcapture -%}
{%- endif -%}
<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% include meta.html %}

    {% seo title=false %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/telepost_icon-32x32.png">
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site_baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/images/telepost_icon-194x194.png" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site_baseurl }}/">{{ site.title }}</a></h1>
              <p class="site-description">{{ site.data.languages[page.lang].site.description }}</p>
            </div>

            <nav>
              <a href="{{ site_baseurl }}/faq/">{{ site.data.languages[page.lang].menu.faq }}</a>
              <a href="{{ site_baseurl }}/categories/">{{ site.data.languages[page.lang].menu.categories }}</a>
              <a href="{{ site_baseurl }}/tags/">{{ site.data.languages[page.lang].menu.tags }}</a>
              <a href="{{ site_baseurl }}/search/">{{ site.data.languages[page.lang].menu.search }}</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">

        <div class="container">

          {%- if page.id -%}
            {%- assign posts = site.posts | where: "slug", page.slug | sort: 'lang' -%}
          {% else %}
            {%- assign posts = site.pages | where: "name", page.name | sort: 'lang' -%}
          {%- endif -%}
          {%- if posts.size > 1 -%}
          <div class="lang-options">
            <div>{{ site.data.languages[page.lang].different-language }}:</div>
            <ul>
            {% for post in posts %}
              {%- if post.slug == page.slug and post.url != "/404" -%}
              <li><a href="{{ site.baseurl }}{{ post.url }}" class="{{ site.data.languages[post.lang].label }}" title="View in {{ site.data.languages[post.lang].label }}">{{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }}</a></li>
              {%- endif -%}
            {% endfor %}
            </ul>
          </div>
          {%- endif %}

          <div class="footer-icons">
            {% include svg-icons.html %}
          </div>

          <div class="counter">
            {% include counter.html %}
          </div>

          <div class="credits">{{ site.data.languages[page.lang].credits }} <a href="https://github.com/amitmerchant1990/reverie">Reverie</a></div>
        </div>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
