---
layout: page
---

  <div id="archives">
  {% for tag in site.tags %}
    {% assign tag_name = tag | first %}
    {% assign posts_with_tag = site.tags[tag_name] | where: "lang", page.lang | sort: "title" %}
    {% if posts_with_tag.size > 0 %}
    <div class="archive-group">
      <div id="#{{ tag_name | slugize }}"></div>
      <h2 class="category-head">{{ tag_name }}</h2>
      <a name="{{ tag_name | slugize }}"></a>
      {% for post in posts_with_tag %}
      <article class="archive-item">
        <a href="{{ site.baseurl }}{{ post.url }}">{% if post.title and post.title != "" %}{{ post.title }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</a>
      </article>
      {% endfor %}
    </div>
    {% endif %}
  {% endfor %}
  </div>

  {{ content }}
