---
layout: page
---

  <div id="archives">
  {% for tag in site.tags %}
    <div class="archive-group">
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <div id="#{{ tag_name | slugize }}"></div>
      <h2 class="category-head">{{ tag_name }}</h2>
      <a name="{{ tag_name | slugize }}"></a>
      {% for post in site.tags[tag_name] %}
      <article class="archive-item">
        <a href="{{ site.baseurl }}{{ post.url }}">{% if post.title and post.title != "" %}{{ post.title }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</a>
      </article>
      {% endfor %}
    </div>
  {% endfor %}
  </div>

  {{ content }}
